.iphone-plus {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-plus .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 390px;
  height: 844px;
  position: relative;
}

.iphone-plus .group {
  position: absolute;
  width: 12px;
  height: 5px;
  top: 181px;
  left: 720px;
}

.iphone-plus .ellipse {
  left: 0;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  background-color: #ffffff;
  border-radius: 2.5px;
}

.iphone-plus .ellipse-2 {
  left: 7px;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  background-color: #ffffff;
  border-radius: 2.5px;
}

.iphone-plus .group-2 {
  position: absolute;
  width: 94px;
  height: 29px;
  top: 69px;
  left: 149px;
}

.iphone-plus .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1e1e1e;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-plus .image {
  width: 15px;
  top: 7px;
  left: 77px;
  position: absolute;
  height: 16px;
  object-fit: cover;
}

.iphone-plus .overlap-group-wrapper {
  position: absolute;
  width: 36px;
  height: 16px;
  top: 53px;
  left: 177px;
}

.iphone-plus .overlap-group {
  position: relative;
  height: 16px;
}

.iphone-plus .rectangle {
  position: absolute;
  width: 36px;
  height: 12px;
  top: 0;
  left: 0;
  background-color: #00d1ff;
  border-radius: 32px;
}

.iphone-plus .img {
  position: absolute;
  width: 12px;
  height: 7px;
  top: 9px;
  left: 12px;
}

.iphone-plus .rectangle-2 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .overlap-wrapper {
  position: absolute;
  width: 356px;
  height: 57px;
  top: 157px;
  left: 19px;
}

.iphone-plus .overlap {
  position: relative;
  width: 352px;
  height: 57px;
  background-color: #f9f9f9;
  border-radius: 11px;
}

.iphone-plus .text-wrapper-2 {
  position: absolute;
  top: 19px;
  left: 20px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-plus .text-wrapper-3 {
  position: absolute;
  top: 19px;
  left: 260px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-plus .div-wrapper {
  position: absolute;
  width: 354px;
  height: 57px;
  top: 218px;
  left: 19px;
}

.iphone-plus .image-2 {
  width: 16px;
  top: 21px;
  left: 310px;
  position: absolute;
  height: 16px;
  object-fit: cover;
}

.iphone-plus .frame {
  position: relative;
  width: 390px;
  height: 90px;
  top: 730px;
  background-color: #ffffff;
}

.iphone-plus .overlap-2 {
  position: absolute;
  width: 36px;
  height: 20px;
  top: 29px;
  left: 308px;
}

.iphone-plus .rectangle-3 {
  position: absolute;
  width: 36px;
  height: 16px;
  top: 0;
  left: 0;
  background-color: #0066ff;
  border-radius: 32px;
}

.iphone-plus .rectangle-4 {
  position: absolute;
  width: 12px;
  height: 7px;
  top: 13px;
  left: 12px;
}

.iphone-plus .rectangle-5 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 6px;
  left: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .text-wrapper-4 {
  top: 51px;
  left: 299px;
  color: #0066ff;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-plus .group-3 {
  position: absolute;
  width: 38px;
  height: 29px;
  top: 33px;
  left: 44px;
}

.iphone-plus .rectangle-wrapper {
  position: absolute;
  width: 36px;
  height: 12px;
  top: 0;
  left: 0;
  background-color: #93a8c8;
  border-radius: 32px;
}

.iphone-plus .rectangle-6 {
  position: relative;
  width: 2px;
  height: 14px;
  top: -4px;
  left: 17px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .text-wrapper-5 {
  top: 19px;
  left: 1px;
  color: #93a8c8;
  font-size: 8px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-plus .group-4 {
  position: absolute;
  width: 40px;
  height: 29px;
  top: 33px;
  left: 134px;
}

.iphone-plus .overlap-3 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 1px;
  background-color: #93a8c8;
  border-radius: 32px;
}

.iphone-plus .rectangle-7 {
  position: relative;
  width: 2px;
  height: 6px;
  top: 3px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .overlap-4 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 13px;
  background-color: #93a8c8;
  border-radius: 32px;
}

.iphone-plus .rectangle-8 {
  position: absolute;
  width: 2px;
  height: 6px;
  top: 3px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(-180deg);
}

.iphone-plus .rectangle-9 {
  position: absolute;
  width: 2px;
  height: 6px;
  top: 3px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .overlap-5 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 25px;
  background-color: #93a8c8;
  border-radius: 32px;
}

.iphone-plus .rectangle-10 {
  position: absolute;
  width: 2px;
  height: 6px;
  top: 3px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(-135deg);
}

.iphone-plus .rectangle-11 {
  position: absolute;
  width: 2px;
  height: 6px;
  top: 3px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(135deg);
}

.iphone-plus .text-wrapper-6 {
  top: 19px;
  left: 0;
  color: #93a8c8;
  font-size: 8px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-plus .group-5 {
  position: absolute;
  width: 38px;
  height: 29px;
  top: 33px;
  left: 222px;
}

.iphone-plus .overlap-6 {
  position: absolute;
  width: 36px;
  height: 12px;
  top: 0;
  left: 0;
  background-image: url(../images/rect.jpg);
  background-size: 100% 100%;
}

.iphone-plus .rectangle-12 {
  position: absolute;
  width: 2px;
  height: 9px;
  top: -2px;
  left: 7px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .overlap-7 {
  position: absolute;
  width: 29px;
  height: 11px;
  top: -1px;
  left: 10px;
}

.iphone-plus .overlap-8 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 1px;
  left: 18px;
}

.iphone-plus .rectangle-13 {
  position: absolute;
  width: 2px;
  height: 6px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .rectangle-14 {
  position: absolute;
  width: 2px;
  height: 3px;
  top: 4px;
  left: 2px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .overlap-9 {
  position: absolute;
  width: 14px;
  height: 11px;
  top: 0;
  left: 0;
}

.iphone-plus .rectangle-15 {
  position: absolute;
  width: 2px;
  height: 14px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .rectangle-16 {
  position: absolute;
  width: 2px;
  height: 3px;
  top: 9px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .overlap-group-2 {
  position: absolute;
  width: 17px;
  height: 4px;
  top: 2px;
  left: 12px;
}

.iphone-plus .rectangle-17 {
  position: absolute;
  width: 2px;
  height: 7px;
  top: 2px;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .rectangle-18 {
  position: absolute;
  width: 2px;
  height: 17px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .rectangle-19 {
  position: absolute;
  width: 2px;
  height: 5px;
  top: 7px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  transform: rotate(90deg);
}

.iphone-plus .text-wrapper-7 {
  top: 19px;
  left: 5px;
  color: #93a8c8;
  font-size: 8px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}